%p= "Здравствуйте, " + @resource.email
%p Кто-то запросил инструкции по смене пароля от Вашей учётной записи. Вы можете сменить свой пароль, перейдя по ссылке, расположенной ниже.
%p= link_to 'Смена пароля', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если Вы не запрашивали смену пароля, просто игнорируйте данное письмо.
%p Ваш пароль останется прежним до тех пор, пока Вы не перейдёте по указанной ссылке.
